.button-panel.mb-2
    button#advance-btn.btn.btn-primary(data-input="host") Advance 
    button#correct-btn.btn.btn-success(data-input="correct") Correct 
    button#incorrect-btn.btn.btn-danger(data-input="incorrect") Incorrect
.status-panel.w-100.mb-2 
.modal-open.button-panel.mb-2.d-none
    button#open-modal.btn.btn-light(data-bs-toggle="modal")
.button-panel.mb-2.f-1.d-flex.flex-column.justify-content-end 
    button#cancel-game.btn.btn-danger(data-bs-toggle="modal" data-bs-target="#cancel-game-modal") Cancel game