include lectern

#player-lectern-container.lecterns
    include ../modals/fjPlayerWagerModal
    include ../modals/fjPlayerResponseModal
    +lectern(3)
    .buzzer-container.f-1.p-5.d-flex.flex-column.align-items-center.fs-6
        button#buzzer.btn.btn-primary.f-1.w-100.fs-1(data-bs-content="Click or press Spacebar to buzz" data-bs-title="Buzzer" data-bs-toggle="popover") Buzz