body {
	display: flex;
	flex-direction: row;
	font-size: min(24px, 2.4vh, 1.92vw);
}

.game-container {
	width: min(1000px, 100vh, 80%);
	.clue-box.dd {
		background-image: none;
		background-color: var(--yellow);
		color: var(--blue);
		.clue-value {
			text-shadow: none;
		}
	}
	.live-clue-display {
		.clue-display {
			grid-row: 3/6;
			font-size: 1em;
		}
		.response-display {
			font-family: 'Korinna', 'Korinna Regular BT', serif;
			display: flex;
			grid-row: 6/7;
			grid-column: 2/6;
			.response-text {
				text-align: center;
			}
		}
		.clue-display:has(.clue-value-flash:not(.d-none)) {
			grid-row: 3/7;
		}
		.clue-display:has(.clue-value-flash:not(.d-none)) + .response-display {
			display: none;
		}
	}
}

#fj-wager-modal {
	.fj-wager-container {
		display: none;
	}

	.input-row-h button {
		width: 20%;
		height: 70%;
		margin-top: auto;
		margin-bottom: auto;
		display: none;
	}

	div:has(input[type='radio'][value='0']:checked)
		> .input-row-h
		.fj-wager-container[data-index='0'],
	div:has(input[type='radio'][value='1']:checked)
		> .input-row-h
		.fj-wager-container[data-index='1'],
	div:has(input[type='radio'][value='2']:checked)
		> .input-row-h
		.fj-wager-container[data-index='2'],
	div:has(input[type='radio']:checked) > .input-row-h button {
		display: unset;
	}
}

#fj-response-modal {
	.fj-response {
		display: none;
	}

	div:has(input[type='radio'][value='0']:checked)
		> .input-row-h
		.fj-response[data-index='0'],
	div:has(input[type='radio'][value='1']:checked)
		> .input-row-h
		.fj-response[data-index='1'],
	div:has(input[type='radio'][value='2']:checked)
		> .input-row-h
		.fj-response[data-index='2'] {
		display: unset;
	}

	.input-container {
		display: flex;
		flex-direction: row;
	}
	.input-container .fj-response {
		width: unset;
		flex: 1;
	}

	.input-row-v:has(input.fj-response[data-index='0']:placeholder-shown)
		input[type='radio']:not(:disabled)
		+ .fj-response-label[data-index='0']::after,
	.input-row-v:has(input.fj-response[data-index='1']:placeholder-shown)
		input[type='radio']:not(:disabled)
		+ .fj-response-label[data-index='1']::after,
	.input-row-v:has(input.fj-response[data-index='2']:placeholder-shown)
		input[type='radio']:not(:disabled)
		+ .fj-response-label[data-index='2']::after {
		content: '⚠️';
	}
}

.control-container {
	width: calc(20% - min(10px, 1em));
	margin-right: min(10px, 1em);
	display: flex;
	flex-direction: column;
	background-color: black;
	font-size: 0.8em;
	.btn {
		font-size: 1em;
	}
	.player-order-item {
		margin-top: 1em;
		margin-bottom: 1em;
		button {
			margin: auto;
			margin-left: 0.5em;
			font-size: 0.8em;
			width: 2em;
			height: 2em;
			padding: 0.1em;
		}
	}
}

#cover-div {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.join-code {
	font-size: 3em;
	letter-spacing: 0.3em;
}
