.button-panel {
	width: 100%;
	display: flex;
	flex-direction: column;
	button {
		margin: 0.5em;
		max-width: 250px;
	}
}

.button-row {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-bottom: 1em;
}

.status-panel {
	color: white;
}

.player-order-item {
	width: 100%;
	color: white;
	.player-order-inner {
		width: 100%;
		display: flex;
		flex-direction: row;
		color: white;
		span {
			flex: 1;
		}
	}
}
