:root {
	--white: #eee;
	--lt-gray: #bbb;
	--dk-gray: #333;
	--black: #000000;
	--lt-blue: #0d6efd;
	--blue: #141b90;
	--green: #00ff77;
	--brown-1: #663c51;
	--brown-2: #9d5f51;
	--yellow: #e1a551;
	--dd-purple: #ff00ff;
}

@font-face {
	font-family: 'Korinna Regular BT';
	font-weight: 400;
	src:
		url(./Korinna.woff2) format('woff2'),
		url(./Korinna.woff) format('woff');
}

@font-face {
	font-family: 'Korinna';
	font-weight: 400;
	src: url(./korinna_bold.ttf);
}

@font-face {
	font-family: 'Swiss 911 Compressed';
	font-weight: 400;
	src:
		url(./swiss_c.woff2) format('woff2'),
		url(./swiss_c.woff) format('woff');
}
@font-face {
	font-family: 'Swiss 911';
	font-weight: 400;
	src:
		url(./swiss.woff2) format('woff2'),
		url(./swiss.woff) format('woff');
}

@font-face {
	font-family: 'Zurich';
	src: url(./Zurich.ttf);
}

html {
	height: 100%;
}

body {
	background-color: var(--white);
	font-family: 'Korinna Regular BT', sans-serif;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

body.bg-jep {
	/* background-image: url(../img/bg.jpg); */
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}
body.dark {
	background-color: var(--black);
}

* {
	overscroll-behavior: none;
}

.help-icon {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 50%;
	img:hover {
		cursor: pointer;
		opacity: 50%;
	}
}

.screen-ratio {
	--bs-aspect-ratio: 58.13%;
}

.category-display {
	font-family: 'Swiss 911', sans-serif;
}

.clue-display {
	font-family: 'Korinna Regular BT', serif;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.message {
	position: absolute;
	z-index: 2000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: fit-content;
	width: -moz-fit-content;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	opacity: 1;
	font-weight: bold;
	transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
}

.init-container,
.game-container,
.host-panel,
.player-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.init-container,
.host-panel {
	width: min(100%, 720px);
	padding: 0.5em;
}

.game-container {
	width: min(100vh, 100%);
	font-size: min(2.4vh, 2.4vw);
	padding: min(10px, 1vw, 1vh);
	/* background-color: black; */
}

.nav-tabs .nav-link.active {
	border-bottom: 5px solid var(--blue);
}

.tab-content {
	flex: 1;
	overflow-y: auto;
}

.host-panel {
	display: flex;
	flex-direction: column;
}

.name-canvas {
	width: 100%;
	height: 100%;
	cursor: crosshair;
}

input[type='radio'] {
	display: none;
}

input[type='radio'] + label {
	border: 1px solid black;
	padding: 0.3em 0.5em;
}

input[type='radio']:checked + label {
	background-color: var(--green);
}

input[type='radio']:disabled + label {
	color: var(--dk-gray);
	background-color: var(--lt-gray);
}

.input-row-h,
.input-row-v {
	margin: 1em auto auto auto;
	width: min(100%, 400px);
	display: flex;
	position: relative;
	.input-label {
		font-size: 0.8em;
		position: absolute;
		z-index: 2;
		top: -0.8em;
		left: 0.8em;
		padding: 0 0.2em;
		font-weight: bold;
		background-color: var(--white);
	}
	.input-container {
		width: 100%;
		padding: 0.8em 0.4em 0.4em 0.4em;
		border: 2px solid var(--blue);
		z-index: 1;
		input {
			width: 100%;
		}
		input[type='checkbox'] {
			width: 1.5em;
			height: 1.5em;
			margin-right: 1em;
		}
		input.caps {
			text-transform: uppercase;
		}
		::-webkit-input-placeholder {
			/* WebKit browsers */
			text-transform: none;
			letter-spacing: 0;
		}
		:-moz-placeholder {
			/* Mozilla Firefox 4 to 18 */
			text-transform: none;
			letter-spacing: 0;
		}
		::-moz-placeholder {
			/* Mozilla Firefox 19+ */
			text-transform: none;
			letter-spacing: 0;
		}
		:-ms-input-placeholder {
			/* Internet Explorer 10+ */
			text-transform: none;
			letter-spacing: 0;
		}
		::placeholder {
			/* Recent browsers */
			text-transform: none;
			letter-spacing: 0;
		}
		#picture-preview {
			max-width: 100%;
		}
	}
}

.input-row-h {
	flex-direction: row;
}
.input-row-v {
	flex-direction: column;
}
.f-1 {
	flex: 1;
}

#play-tab-pane {
	input[type='text'] {
		height: 1.6em;
		font-size: 1.2em;
		letter-spacing: 0.12em;
	}
}
