.d-flex.flex-column
    .input-row-v 
        .input-label Your name 
        .input-container 
            input#player-name(type="text" placeholder="Your name")
    .input-row-v 
        .input-label Room code
        .input-container 
            input#room-code(type="text" placeholder="Room code")