.d-flex.flex-column
    .input-row-v 
        .input-label Your name 
        .input-container 
            input#player-name.mb-2(type="text" placeholder="Your name" value="chuck")
            #join-name.draw-player-name
                .ratio.ratio-4x3.mb-2
                    .svg-container(data-bs-content="Draw your name here!" data-bs-toggle="popover")
                        svg.name-canvas(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 300")
                            rect(x="0" y="0" height="300" width="400" fill="var(--blue)")
                            g.name-path(stroke-width="8" stroke="#fff" fill="transparent" stroke-linecap="round")
                .d-flex.flex-row 
                    button.undo-stroke.btn.btn-sm.btn-warning.me-2 Undo
                    button.clear-stroke.btn.btn-sm.btn-danger Clear
    .input-row-v 
        .input-label Room code
        .input-container 
            input#room-code.caps(type="text" placeholder="Room code" maxlength="4" value="a")
    .w-100.d-flex.mt-4
        .m-auto.w-50.d-flex.flex-row
            button#join-game.btn.btn-primary.w-100.me-1 Play
            button#spectate-game.btn.btn-primary.w-100.ms-1 Spectate
