doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous")
        link(rel='stylesheet' href='/css/styles.css')
        block styles
        link(rel='shortcut icon' href='/img/favicon.png')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title= title
    body.no-select
        include modals/setNameModal
        include modals/startGameModal
        #message-div.message.d-none
        .init-container
            h2.mx-auto This is...J-Play!
            include components/init_container
        .game-container.d-none
            link(rel="stylesheet" href="/css/components/game_container/game_container_host.css")
            include components/game_container_host
        .host-panel.d-none
        audio#timeout-sound(preload="auto" data-name="timeout")
            source(src="/media/Jeopardy-time.mp3" type="audio/mpeg")
        audio#dd-sound(preload="auto" data-name="dd")
            source(src="/media/dailydouble.mp3" type="audio/mpeg")
        audio#fj-reveal-sound(preload="auto" data-name="ping")
            source(src="/media/fj_ding.mp3" type="audio/mpeg")
        audio#think-sound(preload="auto" data-name="think")
            source(src="/media/think.mp3" type="audio/mpeg")

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous")
    script(src="/socket.io/socket.io.js")
    script(src="/js/utils/stateHandler.js")
    script(src="/js/utils/Game.js" defer)
    script(src="/js/game.js" type="module" defer)
    script(Src="/js/socket.js" type="module" defer)
    script(src="/js/index.js" type="module" defer)