.player-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	.player-table {
		height: min(20vh, 4em);
		font-size: min(7.5vh, 1.5em);
		letter-spacing: min(0.25vh, 0.05em);
	}
	.player-lectern-mini {
		display: flex;
		flex-direction: column;
		align-items: center;
		.name-display,
		.score-display {
			color: var(--white);
			text-align: center;
			display: flex;
			margin: auto;
			width: 100%;
			.display-inner {
				margin: auto;
			}
		}
		.display-inner:empty::after {
			content: '--';
			margin: auto;
		}
		.name-display {
			padding-left: 0.5em;
			padding-right: 0.5em;
			text-wrap: wrap;
		}
		.score-display {
			font-family: 'Zurich', Arial, Helvetica, sans-serif;
			letter-spacing: 0;
			.display-inner.neg {
				color: red;
			}
			.display-inner:not(:empty)::before {
				content: '$';
				margin-right: 0.1em;
			}
			.display-inner:not(:empty).neg::before {
				content: '-$';
				color: red;
				margin-right: 0.1em;
			}
		}
	}

	.player-lectern-mini.control {
		border-bottom: 3px solid white;
	}

	.player-lectern-mini.lit .name-display {
		color: var(--blue);
		background-color: var(--white);
	}

	.board-display-container {
		/* width: min(600px, 100%, 84vh);
		height: min(450px, 75vw, 63%); */
		width: min(1000px, 100%, 80vh);
		height: min(581.38px, 58.13vw, 46.504vh);
		font-size: min(24px, 2.4vw, 1.92vh);
		position: relative;

		.category-large {
			text-transform: uppercase;
			width: 90%;
			height: 90%;
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			border: 2px solid var(--white);
			background-image: url('/img/clue_bg_blue.png');
			background-size: cover;
			font-family: 'Swiss 911', sans-serif;
			padding: 0 5%;
			font-size: 5em;
			.category-text {
				margin: auto;
				text-align: center;
				color: var(--white);
			}
		}
	}
	.buzzer-container {
		width: min(100%, 500px);
		.btn-buzzer {
			background-color: var(--lt-blue);
			color: white;
			text-wrap: wrap;
			height: min(max(100%, 5em), 5em);
		}
		.btn-buzzer.armed {
			background-color: white;
			color: var(--blue);
		}
	}

	/* .input-row-h button {
		width: 20%;
		height: 70%;
		margin-top: auto;
		margin-bottom: auto;
	} */
}
