#cover-div {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em;
	background-color: white;
	z-index: 10;
}

.game-container {
	width: min(100vh, 100vw);
	height: min(100vh, 100vw);
	font-size: min(2.4vh, 2.4vw);
}

.fj-prefix {
	text-wrap: nowrap;
	margin-right: 1em;
}
