@keyframes dd-animate {
	0% {
		display: block;
		position: absolute;
	}

	50%,
	100% {
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%) rotateX(360deg);
	}
}

@keyframes timer-animate {
	0% {
		display: block;
		height: 100%;
	}
	100% {
		height: 0;
	}
}

#cover-div {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em;
	background-color: white;
	z-index: 10;
}

.game-board,
.live-clue-display,
.fj-response-div {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

.game-container[data-round='1'],
.board-display-container[data-round='1'] {
	.category-hidden {
		background-image: url('/img/cat_header_1.jpg') !important;
	}
}
.game-container[data-round='2'],
.board-display-container[data-round='2'] {
	.category-hidden {
		background-image: url('/img/cat_header_2.jpg') !important;
	}
}

.game-container[data-round='fj'],
.board-display-container[data-round='fj'] {
	.category-hidden {
		background-image: url('/img/fj.jpg');
	}
}

.category-box.category-hidden {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	.category-div {
		display: none;
	}
}

.game-container {
	.game-board {
		width: 100%;
		height: 100%;

		.clue-box,
		.category-box {
			color: var(--white);
			border: 1px solid var(--white);
		}

		.clue-box {
			background-image: url('/img/clue_bg_blue.png');
			background-size: cover;
			font-family: 'Swiss 911 Compressed', serif;
			text-align: center;
			display: flex;
			padding: 5% 10%;
			color: var(--yellow);
			cursor: pointer;
			/*width of .game-container is min(80%,1000px)*/
			.clue-value {
				margin: auto;
				font-size: min(4.8vw, 4.8vh);
				letter-spacing: min(0.27vw, 0.27vh);
				text-shadow:
					black min(0vw, 0vh) min(0vw, 0vh) 0vw,
					black min(0.01vw, 0.01vh) min(0.01vw, 0.01vh) 0vw,
					black min(0.02vw, 0.02vh) min(0.02vw, 0.02vh) 0vw,
					black min(0.03vw, 0.03vh) min(0.03vw, 0.03vh) 0vw,
					black min(0.04vw, 0.04vh) min(0.04vw, 0.04vh) 0vw,
					black min(0.05vw, 0.05vh) min(0.05vw, 0.05vh) 0vw,
					black min(0.06vw, 0.06vh) min(0.06vw, 0.06vh) 0vw,
					black min(0.07vw, 0.07vh) min(0.07vw, 0.07vh) 0vw,
					black min(0.08vw, 0.08vh) min(0.08vw, 0.08vh) 0vw,
					black min(0.09vw, 0.09vh) min(0.09vw, 0.09vh) 0vw,
					black min(0.1vw, 0.1vh) min(0.1vw, 0.1vh) 0vw,
					black min(0.11vw, 0.11vh) min(0.11vw, 0.11vh) 0vw,
					black min(0.12vw, 0.12vh) min(0.12vw, 0.12vh) 0vw,
					black min(0.13vw, 0.13vh) min(0.13vw, 0.13vh) 0vw,
					black min(0.14vw, 0.14vh) min(0.14vw, 0.14vh) 0vw,
					black min(0.15vw, 0.15vh) min(0.15vw, 0.15vh) 0vw,
					black min(0.16vw, 0.16vh) min(0.16vw, 0.16vh) 0vw,
					black min(0.17vw, 0.17vh) min(0.17vw, 0.17vh) 0vw,
					black min(0.18vw, 0.18vh) min(0.18vw, 0.18vh) 0vw,
					black min(0.19vw, 0.19vh) min(0.19vw, 0.19vh) 0vw,
					black min(0.2vw, 0.2vh) min(0.2vw, 0.2vh) 0vw,
					black min(0.21vw, 0.21vh) min(0.21vw, 0.21vh) 0vw,
					black min(0.22vw, 0.22vh) min(0.22vw, 0.22vh) 0vw,
					black min(0.23vw, 0.23vh) min(0.23vw, 0.23vh) 0vw,
					black min(0.24vw, 0.24vh) min(0.24vw, 0.24vh) 0vw,
					black min(0.25vw, 0.25vh) min(0.25vw, 0.25vh) 0vw,
					black min(0.26vw, 0.26vh) min(0.26vw, 0.26vh) 0vw,
					black min(0.27vw, 0.27vh) min(0.27vw, 0.27vh) 0vw,
					black min(0.28vw, 0.28vh) min(0.28vw, 0.28vh) 0vw,
					black min(0.29vw, 0.29vh) min(0.29vw, 0.29vh) 0vw,
					black min(0.3vw, 0.3vh) min(0.3vw, 0.3vh) 0vw,
					black min(0.31vw, 0.31vh) min(0.31vw, 0.31vh) 0vw,
					black min(0.32vw, 0.32vh) min(0.32vw, 0.32vh) 0vw,
					black min(0.33vw, 0.33vh) min(0.33vw, 0.33vh) 0vw,
					black min(0.34vw, 0.34vh) min(0.34vw, 0.34vh) 0vw,
					black min(0.35vw, 0.35vh) min(0.35vw, 0.35vh) 0vw,
					black min(0.36vw, 0.36vh) min(0.36vw, 0.36vh) 0vw;
			}
		}

		.clue-box.dd {
			text-shadow: none;
		}

		.category-box {
			background-color: var(--blue);
			background-image: url('/img/clue_bg_blue.png');
			display: flex;
			flex-direction: column;
			padding: 0 5%;
			text-shadow: 2px 2px #000;

			.category-div {
				font-family: 'Swiss 911', sans-serif;
				margin: auto;
				text-align: center;
				text-transform: uppercase;
				font-size: min(2.2vh, 2.2vw);
				line-height: min(2.4vh, 2.4vw);
				letter-spacing: min(0.07vh, 0.07vw);
			}
			.category-div.long-cat {
				font-size: min(1.76vh, 1.76vw);
				line-height: min(1.92vh, 1.92vw);
				letter-spacing: min(0.056vh, 0.056vw);
			}
			.comment-div {
				font-family: 'Korinna Regular BT', serif;
				text-transform: uppercase;
			}
		}

		.dd-div {
			width: 16%;
			height: 16%;
			transform: translate(-50%, -50%);
			position: absolute;
			display: none;
			background-image: url('/img/dd.jpg');
			background-color: var(--blue);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			z-index: 3;
		}

		.dd-div.animation {
			display: block;
			animation-name: dd-animate;
			animation-duration: 3s;
		}
	}
}

.live-clue-display > div {
	color: white;
	background-image: url('/img/clue_bg_blue.png');
	background-size: cover;
	text-align: center;
	text-transform: uppercase;
	display: flex;
}

.live-clue-display {
	text-shadow: 2px 2px #000;

	.side-light {
		background-image: none;
		background-color: var(--dk-gray);
		grid-row: 1/7;
		display: flex;
		.side-light-inner {
			display: none;
			margin: auto;
			width: 100%;
		}
	}

	.side-light-left {
		grid-column: 1;
	}
	.side-light-right {
		grid-column: 6;
	}
	.category-display {
		grid-row: 1;
		grid-column: 2/6;
		font-family: 'Swiss 911', sans-serif;
		border: 1px solid white;
	}
	.value-display {
		grid-row: 2;
		grid-column: 2/6;
		font-family: 'Swiss 911', sans-serif;
		border: 1px solid white;

		.value-text {
			color: var(--yellow);
		}
	}

	.clue-display {
		grid-row: 3/7;
		grid-column: 2/6;
		border: 1px solid white;
		font-family: 'Korinna', 'Korinna Regular BT', sans-serif;
		font-size: min(26px, 4.6vw) !important;
		letter-spacing: min(0.08px, 0.15vw);
		/* line-height: min(30.3px, 5.37vw); */
		text-align: center;
		padding: 0 12%;
		white-space: pre-line;
		text-shadow:
			black min(0vw, 0px) min(0vw, 0px) 0vw,
			black min(0.01vw, 0.057666666666666665px)
				min(0.01vw, 0.057666666666666665px) 0vw,
			black min(0.02vw, 0.11533333333333333px)
				min(0.02vw, 0.11533333333333333px) 0vw,
			black min(0.03vw, 0.17300000000000001px)
				min(0.03vw, 0.17300000000000001px) 0vw,
			black min(0.04vw, 0.23066666666666666px)
				min(0.04vw, 0.23066666666666666px) 0vw,
			black min(0.05vw, 0.28833333333333333px)
				min(0.05vw, 0.28833333333333333px) 0vw,
			black min(0.06vw, 0.34600000000000003px)
				min(0.06vw, 0.34600000000000003px) 0vw,
			black min(0.07vw, 0.4036666666666667px) min(0.07vw, 0.4036666666666667px)
				0vw,
			black min(0.08vw, 0.4613333333333333px) min(0.08vw, 0.4613333333333333px)
				0vw,
			black min(0.09vw, 0.519px) min(0.09vw, 0.519px) 0vw,
			black min(0.1vw, 0.5766666666666667px) min(0.1vw, 0.5766666666666667px)
				0vw,
			black min(0.11vw, 0.6343333333333333px) min(0.11vw, 0.6343333333333333px)
				0vw,
			black min(0.12vw, 0.6920000000000001px) min(0.12vw, 0.6920000000000001px)
				0vw,
			black min(0.13vw, 0.7496666666666667px) min(0.13vw, 0.7496666666666667px)
				0vw,
			black min(0.14vw, 0.8073333333333333px) min(0.14vw, 0.8073333333333333px)
				0vw,
			black min(0.15vw, 0.865px) min(0.15vw, 0.865px) 0vw,
			black min(0.16vw, 0.9226666666666666px) min(0.16vw, 0.9226666666666666px)
				0vw,
			black min(0.17vw, 0.9803333333333333px) min(0.17vw, 0.9803333333333333px)
				0vw,
			black min(0.18vw, 1.038px) min(0.18vw, 1.038px) 0vw,
			black min(0.19vw, 1.0956666666666666px) min(0.19vw, 1.0956666666666666px)
				0vw,
			black min(0.2vw, 1.1533333333333333px) min(0.2vw, 1.1533333333333333px)
				0vw,
			black min(0.21vw, 1.2109999999999999px) min(0.21vw, 1.2109999999999999px)
				0vw,
			black min(0.22vw, 1.2686666666666666px) min(0.22vw, 1.2686666666666666px)
				0vw,
			black min(0.23vw, 1.3263333333333334px) min(0.23vw, 1.3263333333333334px)
				0vw,
			black min(0.24vw, 1.3840000000000001px) min(0.24vw, 1.3840000000000001px)
				0vw,
			black min(0.25vw, 1.4416666666666667px) min(0.25vw, 1.4416666666666667px)
				0vw,
			black min(0.26vw, 1.4993333333333334px) min(0.26vw, 1.4993333333333334px)
				0vw,
			black min(0.27vw, 1.557px) min(0.27vw, 1.557px) 0vw,
			black min(0.28vw, 1.6146666666666667px) min(0.28vw, 1.6146666666666667px)
				0vw,
			black min(0.29vw, 1.6723333333333332px) min(0.29vw, 1.6723333333333332px)
				0vw,
			black min(0.3vw, 1.73px) min(0.3vw, 1.73px) 0vw,
			black min(0.31vw, 1.7876666666666667px) min(0.31vw, 1.7876666666666667px)
				0vw,
			black min(0.32vw, 1.8453333333333333px) min(0.32vw, 1.8453333333333333px)
				0vw,
			black min(0.33vw, 1.903px) min(0.33vw, 1.903px) 0vw,
			black min(0.34vw, 1.9606666666666666px) min(0.34vw, 1.9606666666666666px)
				0vw,
			black min(0.35vw, 2.0183333333333335px) min(0.35vw, 2.0183333333333335px)
				0vw,
			black min(0.36vw, 2.076px) min(0.36vw, 2.076px) 0vw,
			black min(0.37vw, 2.1336666666666666px) min(0.37vw, 2.1336666666666666px)
				0vw,
			black min(0.38vw, 2.191333333333333px) min(0.38vw, 2.191333333333333px)
				0vw,
			black min(0.39vw, 2.249px) min(0.39vw, 2.249px) 0vw,
			black min(0.4vw, 2.3066666666666666px) min(0.4vw, 2.3066666666666666px)
				0vw,
			black min(0.41vw, 2.364333333333333px) min(0.41vw, 2.364333333333333px)
				0vw,
			black min(0.42vw, 2.4219999999999997px) min(0.42vw, 2.4219999999999997px)
				0vw,
			black min(0.43vw, 2.4796666666666667px) min(0.43vw, 2.4796666666666667px)
				0vw,
			black min(0.44vw, 2.537333333333333px) min(0.44vw, 2.537333333333333px)
				0vw,
			black min(0.45vw, 2.5949999999999998px) min(0.45vw, 2.5949999999999998px)
				0vw,
			black min(0.46vw, 2.6526666666666667px) min(0.46vw, 2.6526666666666667px)
				0vw,
			black min(0.47vw, 2.7103333333333333px) min(0.47vw, 2.7103333333333333px)
				0vw,
			black min(0.48vw, 2.7680000000000002px) min(0.48vw, 2.7680000000000002px)
				0vw,
			black min(0.49vw, 2.8256666666666668px) min(0.49vw, 2.8256666666666668px)
				0vw,
			black min(0.5vw, 2.8833333333333333px) min(0.5vw, 2.8833333333333333px)
				0vw,
			black min(0.51vw, 2.941px) min(0.51vw, 2.941px) 0vw,
			black min(0.52vw, 2.998666666666667px) min(0.52vw, 2.998666666666667px)
				0vw,
			black min(0.53vw, 3.0563333333333333px) min(0.53vw, 3.0563333333333333px)
				0vw,
			black min(0.54vw, 3.114px) min(0.54vw, 3.114px) 0vw,
			black min(0.55vw, 3.1716666666666664px) min(0.55vw, 3.1716666666666664px)
				0vw,
			black min(0.56vw, 3.2293333333333334px) min(0.56vw, 3.2293333333333334px)
				0vw,
			black min(0.57vw, 3.287px) min(0.57vw, 3.287px) 0vw,
			black min(0.58vw, 3.3446666666666665px) min(0.58vw, 3.3446666666666665px)
				0vw,
			black min(0.59vw, 3.402333333333333px) min(0.59vw, 3.402333333333333px)
				0vw,
			black min(0.6vw, 3.46px) min(0.6vw, 3.46px) 0vw;

		.clue-value {
			font-family: 'Swiss 911 Compressed', sans-serif;
			color: var(--yellow);
			font-size: min(16vw, 16vh);
			text-shadow: min(2vw, 2vh) min(2vh, 2vw) #000;
		}
		#clue-image {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100%;
			height: 100%;
		}
	}

	.response-display {
		display: none;
	}

	.category-display,
	.value-display {
		font-size: min(5vh, 5vw);
	}
	.clue-display {
		font-size: min(3.8vh, 3.8vw);
	}
}

.live-clue-display.live {
	.side-light-left,
	.side-light-right {
		/* background-color: var(--white); */
		.side-light-inner {
			display: block;
			background-color: var(--white);
			animation-name: timer-animate;
			animation-timing-function: linear;
		}
	}
}

.category-scroll-container {
	overflow: hidden;
	background-image: url('/img/clue_bg_blue.png');
}
.category-scroll {
	width: 600%;
	height: 100%;
	position: absolute;
	left: 0;
	transition: left 0.5s;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	font-family: 'Swiss 911', sans-serif;
	text-shadow: 2px 2px #000;

	.category-box {
		height: 100%;
		width: 16.667%;
		background-image: url('/img/clue_bg_blue.png');
		background-size: cover;
		color: white;
		/* display: flex; */
		padding: 1%;
		align-content: center;
		.category-div,
		.comment-div {
			width: 100%;
			margin: auto;
			text-align: center;
			text-transform: uppercase;
		}

		.comment-div {
			font-family: 'Korinna Regular BT', serif;
		}

		.category-div {
			font-size: min(120px, 12vw);
			line-height: min(130px, 13vw);
		}
	}

	.category-box:has(.comment-div:not(:empty)) {
		.category-div {
			font-size: min(36px, 6vw);
		}
		.comment-div {
			font-size: min(24px, 4vw);
		}
	}

	.category-box.category-hidden {
		.category-div,
		.comment-div {
			display: none;
		}
	}
}

.lecterns {
	flex: 1;
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	.lectern.control {
		border-bottom: 4px solid var(--white);
	}
	.lectern {
		width: 31%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		.timer {
			margin: 0 auto;
			width: 55%;
			display: flex;
			flex-direction: row;
			.timer-light {
				flex: 1;
				height: 100%;
				border: 1px solid var(--lt-gray);
				background-color: #332c42;
			}
		}
		.light {
			background-image: url('/img/light-bg.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 105% 105%;
		}

		.lectern-body {
			color: white;
			flex: 1;
			display: flex;
			flex-direction: row;
			border-top: 3px solid var(--lt-gray);
			.lectern-center > div {
				border-top: 1px solid black;
				box-sizing: border-box;
			}
			.lectern-center {
				width: 55%;
				display: flex;
				flex-direction: column;
				border: 3px solid black;
				box-sizing: border-box;
				.score-display {
					height: 20%;
					background-image: url('/img/clue_bg_blue.png');
					background-size: cover;
					font-family: 'Zurich', Arial, Helvetica, sans-serif;
					font-weight: bold;
					text-align: center;
					letter-spacing: 0;
					span.currency {
						margin-right: min(0.357vw, 0.357vh);
					}
				}
				.score.neg {
					color: red;
				}
				.score.neg::before {
					content: '-';
					color: red;
					margin-right: 0.1em;
				}

				.light-top {
					height: 13.33%;
				}

				.light-bottom {
					flex: 1;
				}
				.name-display {
					background-color: var(--blue);
					text-align: center;
				}
				.name-container {
					max-width: 100%;
					overflow-wrap: break-word;
					cursor: pointer;
				}
			}
			.lectern-right,
			.lectern-left {
				position: relative;
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: end;
				background: linear-gradient(to right, var(--brown-1), var(--brown-2));
				.lectern-image {
					border-image: linear-gradient(to left, #fff, #999) 5;
					border-width: 2px;
					border-style: solid;
					height: 67%;
					width: 90%;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
			.lectern-left > .lectern-image {
				background-image: url('/img/lectern-left.png');
			}
			.lectern-right {
				.lectern-image {
					background-image: url('/img/lectern-right.png');
				}
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
			}
			.lectern-left::before,
			.lectern-right::before,
			.lectern-left::after,
			.lectern-right::after {
				content: '';
				width: 90%;
				height: 2.3%;
				position: absolute;
				left: 0%;
				z-index: 2;
				background-color: white;
				border-radius: 0 2px 2px 0;
			}

			.name-display {
				font-size: min(2vw, 2vh);
			}
			.score-display {
				font-size: min(3vh, 3vw);
			}

			.lectern-left::before,
			.lectern-right::before {
				top: 10%;
			}
			.lectern-left::after,
			.lectern-right::after {
				top: 20%;
			}
		}
	}
	.lectern.lit {
		.light {
			background-image: unset;
			background-color: white;
		}
	}
	.lectern.lit[data-time='4'] {
		.timer-light {
			background-color: red;
		}
	}
	.lectern.lit[data-time='3'] {
		.timer-light[data-time='3'],
		.timer-light[data-time='2'],
		.timer-light[data-time='1'],
		.timer-light[data-time='0'] {
			background-color: red;
		}
	}
	.lectern.lit[data-time='2'] {
		.timer-light[data-time='2'],
		.timer-light[data-time='1'],
		.timer-light[data-time='0'] {
			background-color: red;
		}
	}
	.lectern.lit[data-time='1'] {
		.timer-light[data-time='1'],
		.timer-light[data-time='0'] {
			background-color: red;
		}
	}
	.lectern.lit[data-time='0'] {
		.timer-light[data-time='0'] {
			background-color: red;
		}
	}
}

.fj-category {
	width: 100%;
	height: 100%;
	align-content: center;
	font-family: 'Swiss 911', sans-serif;
	text-shadow: 2px 2px #000;

	.category-box {
		height: 100%;
		width: 100%;
		background-image: url('/img/clue_bg_blue.png');
		background-size: cover;
		color: var(--white);
		border: 1px solid var(--white);
		padding: 5%;
		display: flex;
		.category-div {
			margin: auto;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.category-div {
		font-size: min(12vw, 72px);
	}
}

div.fj-prefix {
	text-wrap: nowrap;
	margin-right: 1em;
}

.fj-response-div {
	width: 100%;
	height: 100%;
	background-image: url('/img/clue_bg_blue.png');
	background-size: cover;
	.fj-response-display,
	.fj-wager-display {
		display: flex;
		font-family: 'Shadows Into Light Two', cursive;
		font-weight: 400;
		font-style: normal;
		color: white;
	}
	.fj-response-display {
		grid-column: 2/6;
		grid-row: 2/4;
	}
	.fj-wager-display {
		grid-column: 2/6;
		grid-row: 4/6;
	}

	.display-inner {
		height: 0%;
		width: 100%;
		padding: 5%;
		text-align: center;
		margin: auto;
	}

	.display-inner.animate {
		transition: 0.5s;
	}

	.display-inner.revealed {
		/* height: 100%; */
		height: unset;
	}

	.display-inner {
		font-size: min(36px, 6vw);
	}

	.display-inner.revealed.revealed-sm {
		font-size: min(27px, 4.5vw);
	}

	@media (max-width: 900px) {
		.display-inner {
			font-size: 4vw;
		}
	}
}
