#cover-div {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em;
	background-color: white;
	z-index: 10;
}

.game-container {
	width: min(100vh, 100vw);
	height: min(100vh, 100vw);
	padding-top: 2%;
	font-size: min(2.4vh, 2.4vw);
	position: relative;
	img.jbg {
		position: absolute;
		z-index: 0;
		width: 143%;
		transform: translate(-15.75%, -6%);
	}
}

.fj-prefix {
	text-wrap: nowrap;
}
