.player-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.player-container {
	.player-table {
		height: 4em;
		font-size: 1.5em;
	}
	.player-lectern-mini {
		display: flex;
		flex-direction: column;
		align-items: center;
		.name-display,
		.score-display {
			color: var(--white);
			text-align: center;
			display: flex;
			margin: auto;
			width: 100%;
			.display-inner {
				margin: auto;
			}
		}
		.display-inner:empty::after {
			content: '--';
			margin: auto;
		}
		.name-display {
			padding-left: 0.5em;
			padding-right: 0.5em;
			text-wrap: wrap;
		}
		.score-display {
			font-family: Arial, Helvetica, sans-serif;
		}
	}

	.player-lectern-mini.control {
		border-bottom: 3px solid white;
	}

	.player-lectern-mini.lit .name-display {
		color: var(--blue);
		background-color: var(--white);
	}

	.board-display-container {
		width: min(600px, 100%, 72vh);
		height: min(450px, 75vw, 54%);
		position: relative;

		.category-large {
			width: 90%;
			height: 90%;
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			border: 2px solid var(--white);
			background-color: var(--blue);
			font-family: 'Swiss 911 Compressed', sans-serif;
			.category-text {
				margin: auto;
				text-align: center;
				color: var(--white);
			}
		}
	}

	@media (min-aspect-ratio: 0.89) {
		/* absolutely wide, wide aspect ratio */

		@media (min-width: 600px) {
			.category-display,
			.clue-display,
			.value-display {
				font-size: 24px !important;
			}
			.clue-value {
				font-size: 32px !important;
			}
			.category-scroll .category-div {
				font-size: 90px !important;
			}
			.category-large {
				font-size: 80px;
			}
		}

		/* absolutely narrow, wide aspect ratio */
		@media (max-width: 600px) {
			.clue-display,
			.value-display,
			.category-display {
				font-size: 3vw !important;
			}

			.clue-value {
				font-size: 24px !important;
			}
			.category-scroll .category-div {
				font-size: 12vh !important;
			}
			.category-large {
				font-size: 10.8vh;
			}
		}
	}

	@media (max-aspect-ratio: 0.89) {
		/* narrow,  tall aspect ratio*/
		@media (max-width: 600px) {
			.clue-display,
			.value-display,
			.category-display {
				font-size: 4vw !important;
			}

			.clue-value {
				font-size: 5vw !important;
			}
			.category-scroll .category-div {
				font-size: 12vw !important;
			}
			.category-large {
				font-size: 10.8vw;
			}
		}
		/* narrow, wide aspect ratio */
		@media (min-width: 600px) {
			.clue-display,
			.value-display,
			.category-display {
				font-size: 4vw !important;
			}

			.clue-value {
				font-size: 5vw !important;
			}
			.category-scroll .category-div {
				font-size: 12vw !important;
			}
			.category-large {
				font-size: 10.8vw;
			}
		}
	}

	.buzzer-container {
		width: min(100%, 500px);
		.btn-buzzer {
			background-color: var(--lt-blue);
			color: white;
			text-wrap: wrap;
		}
		.btn-buzzer.armed {
			background-color: white;
			color: var(--blue);
		}
	}
}

.input-row-h button {
	width: 20%;
	height: 70%;
	margin-top: auto;
	margin-bottom: auto;
}
