@keyframes dd-animate {
	0% {
		display: block;
		position: absolute;
	}

	50%,
	100% {
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%) rotateX(360deg);
	}
}

@keyframes timer-animate {
	0% {
		display: block;
		height: 100%;
	}
	100% {
		height: 0;
	}
}

#cover-div {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em;
	background-color: white;
	z-index: 10;
}

.game-container {
	width: min(100vh, 100vw);
	height: min(100vh, 100vw);
	font-size: min(2.4vh, 2.4vw);
}

.fj-prefix {
	text-wrap: nowrap;
	margin-right: 1em;
}
