.modal#end-game-modal(tabindex="-1" aria-labelledby="end-game-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false")
    .modal-dialog.modal-dialog-centered
        .modal-content#end-game-modal-content
            input#player-index(type="hidden")
            .modal-header
                h5.modal-title#end-game-label Game Over
            .modal-body.d-flex.flex-column
                h5#end-game-result.mb-2
                h6.mb-2 Game Stats
                table#result-table.mb-2
                    tr#name-row 
                        th
                    tr#score-row 
                        td Final Score  
                //- svg#game-flow.w-100
            .modal-footer
                button#end-game-ok.btn.btn-sm.btn-primary(type="button" data-key="Enter,Return") Return to Lobby
