.modal#player-settings-modal(tabindex="-1" aria-labelledby="player-settings-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false")
    .modal-dialog.modal-dialog-centered
        .modal-content#player-settings-modal-content
            input#player-index(type="hidden")
            .modal-header
                h5.modal-title#player-settings-label Player settings
            .modal-body
                .d-flex.flex-column
                    .input-row-v 
                        .input-label Player name 
                        .input-container 
                            input#set-player-name(type="text" placenolder="Name").mb-2
                            #draw-player-name.draw-player-name
                                .ratio.ratio-4x3.mb-2
                                    .svg-container 
                                        svg.name-canvas(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 300")
                                            rect(x="0" y="0" height="300" width="400" fill="var(--blue)")
                                            g#name-path.name-path(stroke-width="8" stroke="#fff" fill="transparent" stroke-linecap="round")
                                .d-flex.flex-row 
                                    button.undo-stroke.btn.btn-sm.btn-warning.me-2 Undo
                                    button.clear-stroke.btn.btn-sm.btn-danger Clear
                .input-row-v 
                    .input-label Buzzer key 
                    .input-container
                        .d-flex.flex-row 
                            button.me-3.btn.btn-sm.btn-primary#set-button(data-toggled="false") Set key 
                            span Current key: #[span#current-key]
            .modal-footer
                button#cancel-edit-player.btn.btn-sm.btn-primary(type="button" data-bs-dismiss="modal" data-key="Escape") Cancel
                button#remove-player.btn.btn-sm.btn-primary(type="button") Remove Player
                button#confirm-edit-player.btn.btn-sm.btn-primary(type="button" data-key="Enter,Return") Save
