.modal#start-game-modal(tabindex="-1" aria-labelledby="start-game-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false")
    .modal-dialog.modal-dialog-centered
        .modal-content#start-game-modal-content
            input#player-index(type="hidden")
            .modal-header
                h5.modal-title#start-game-label Confirm game start
            .modal-body Ready to start?
            .modal-footer
                button#cancel-start.btn.btn-sm.btn-primary(type="button" data-bs-dismiss="modal" data-key='Escape') Cancel
                button#confirm-start.btn.btn-sm.btn-primary(type="button" data-key="Enter,Return") Start
