.header-message {
	display: none;
	background-color: var(--green);
	padding: 0 1em;
}

.tab-content:has(#create-tab-pane.show.active) {
	.header-message {
		display: unset;
	}
}

#create-tab-pane {
	overflow-y: auto;

	#load-file {
		display: none;
	}

	#load-data label {
		cursor: pointer;
	}

	.header-message {
		top: 0px;
		right: 0px;
	}

	.create-game-metadata,
	.metadata-header {
		display: flex;
		flex-direction: column;
		.metadata-item {
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: center;
			.metadata-title {
				width: 40%;
				margin: 0.25em;
			}

			.metadata-value {
				flex: 1;
				margin: 0.25em;
			}

			.invalid {
				border: 3px solid red;
			}

			.delete-button {
				width: 1.5em;
				height: 1.5em;
				margin: auto;
				padding: unset;
				display: flex;
			}
			.delete-button::after {
				margin: auto;
				content: '❌';
				font-size: 0.7em;
			}
		}
	}

	.input-container:has(.invalid) {
		border-color: red;
	}

	input[type='radio'] + label {
		position: relative;
	}
	input[type='radio'].invalid + label::before {
		position: absolute;
		content: '⚠️';
		right: 0;
		top: 0;
		margin: 0;
		font-size: 0.8em;
	}

	.input-container {
		display: flex;
		flex-direction: row;
		label {
			flex: 1;
			display: flex;
			.label-inner {
				margin: auto;
				text-align: center;
			}
		}
	}

	.clue-text-container {
		background-color: var(--blue);
	}
	#edit-clue-text {
		background-color: var(--blue);
		text-transform: uppercase;
		text-align: center;
		vertical-align: middle;
		color: white;
		border: none;
		outline: none;
		resize: none;
		font-size: 1.2em;
	}

	.game-data:has(input[type='radio'][name='selected-round'][value='0']:checked)
		.dd-2 {
		display: none;
	}

	.dd-item {
		display: flex;
		flex-direction: row;
		width: 75%;
		.dd-label {
			flex: 1;
		}
		button {
			margin-left: 0.5em;
		}
		button.delete-dd::after {
			content: '❌';
		}
	}

	.dd-item:has(.dd-label:empty) {
		button.delete-dd {
			display: none;
		}
		.dd-label::after {
			content: '(Random)';
		}
	}

	.dd-1 .dd-label::before {
		content: '1. ';
	}
	.dd-2 .dd-label::before {
		content: '2. ';
	}

	.move-button {
		flex: 1;
		margin-left: 0.25em;
		margin-right: 0.25em;
		font-size: 1.5em;
		padding: 0;
		border-color: var(--black);
		color: var(--black);
	}
	.move-button:hover {
		color: var(--white);
		background-color: var(--black);
	}
}

#create-tab-pane:has(
		input[type='radio'][name='selected-round'][value='2']:checked
	) {
	.no-fj {
		display: none;
	}
}
